################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CI_CD_Assignment/.vs/CI_CD_Assignment
